.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar {
  border-radius: 15px; 
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  overflow: hidden;
  width: 75vw;
  height: 75vh;
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
}

.calendar-stripe-gray, .calendar-stripe-light {
  flex: 1 1 auto;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-width: calc(75vw / 7);
}

.calendar-stripe-gray {
  background-color: rgb(235, 235, 235);
}

.calendar-stripe-light {
  background-color: whitesmoke;
}

.activity {
  position: relative;
  width: 100%;
  display: block;
  background-color: rgba(244, 200, 10, 0.4);
  text-align: right;
  color:rgb(244, 200, 10);
  font-weight: bold;
  text-shadow: 1px 0.5px 1px rgb(150, 150, 150);
  border: 3px dashed rgb(244, 200, 10);
  box-sizing: border-box;
  max-width: calc(75vw / 7);
}
